html,
body {
    width: 100%;
    background-color: #0074D9;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin: 2rem;
    width: 190px;
    color: #FFFF;
    font-size: 1.7rem;
    font-weight: 600;
}

#container {
    margin: 0 auto;
    margin-top: 4rem;
    text-align: center;
    background-color: #0074D9;
}

.tab {
    display: inline-block;
    vertical-align:middle;
    align-content: center;
    position: relative;
    background-color: #FFFF;
    border-radius: 20px;
    border: 2px solid #0001;
}

#to-do {
    margin-right: 3rem;
}

#in-progress {
    margin-right: 3rem;
}

h2 {
    position: relative;
    margin-top: 1rem;
    color: #0008;
    font-size: 1.3rem;
    font-weight: 600;
}

.tab-content {
    min-width: 350px;
    min-height: 600px;
    
    max-width: 400px;
    max-height: 700px;
    margin: 0 auto;
    margin-top: 2rem;

}

.tab-content p {
    font-size: 0.9rem;
    user-select: none;
    margin-left: 50px;
    word-wrap: break-word;
}

.tab-element {
    position: relative;
    padding: 0.8rem;
    line-height: normal;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 90%;
}

#to-do .tab-element {
    border: 3px solid #00B8D9;
}

#to-do .frame {
    background-color: #00B8D9;
}

#in-progress .tab-element {
    border: 3px solid #FFAB00;
}

#in-progress .frame {
    background-color: #FFAB00;
}

#done .tab-element {
    border: 3px solid #57D9A3;
}

#done .frame {
    background-color: #57D9A3;
}

.frame {
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    background-color: #00B8D9;
    border-radius: 5px;
}

/*Proprieties for the scrollbar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #0074D9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0064D9;
}

/*Proprieties for the scrollbar END*/

.button{
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-color: #FFFF;
    border: 0;
}

#add-task {
    margin: 1rem;
    background: url(../images/add.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

#delete-task {
    margin: 1rem;
    background: url(../images/round-delete-button.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

#delete-element {
    margin: 1rem;
    background: url(../images/round-delete-button.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

#settings {
    margin: 1rem;
    background: url(../images/settings.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.button:hover {
    transform: scale(1.2);
}

h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #0009;
    margin-bottom: 20px;
}

textarea {
    height: 100px;
    width: 230px;
    border: 2px solid #2488FF;
    resize: none;
    font-size: 1.3rem;
}

.task-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: 0px solid #FFFF;
    background-color: #2488FF;
    color: #FFFF;
    font-weight: 600;
}

/* Small devices */
@media only screen and (max-width: 600px) {
    #to-do, #in-progress {
        margin: 0;
        margin-bottom: 2rem;
    }
    
    .tab, .tab-content {
        min-height: 350px;
        min-width: 250px;
    }
}

/* Medium devices */
@media only screen and (min-width: 700px) and (max-width: 1200px) {
}

/* Large devices */
@media only screen and (min-width: 1200px) and (max-width: 1670px) {
}